<div class="container">
    <div class="row top-buffer"></div>
    <div class="row top-buffer"></div>
    <div class="row top-buffer"></div>

    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div class="row">
                <div class="col-sm-12">
                    <form class="form-inline">
                        <img ng-show="vm.teamOneCurrentStatus === 'batting'" src="https://s-media-cache-ak0.pinimg.com/736x/7a/a9/85/7aa985cdd0ab0431d9f9e0228dbc6841.jpg"
                            height="80" width="80" />
                        <img ng-show="vm.teamOneCurrentStatus === 'bowling'" height="80" width="80" src="https://rlv.zcache.com/red_cricket_ball_stickers_customizable_with_text-r7782d07176474fb992235e5e1d41a1db_v9waf_8byvr_324.jpg"
                        />
                        <input type="text" class="form-control" ng-model="vm.teamOneName" placeholder="team name" />

                        <img class="img-fluid" alt="Responsive image" src="http://static.comicvine.com/uploads/original/11114/111147851/3641601-7967039862-32593.png"
                            height="100" width="100">

                        <input type="text" class="form-control" ng-model="vm.teamTwoName" placeholder="team name" />
                        <img ng-show="vm.teamTwoCurrentStatus === 'batting'" src="https://s-media-cache-ak0.pinimg.com/736x/7a/a9/85/7aa985cdd0ab0431d9f9e0228dbc6841.jpg"
                            height="80" width="80" />
                        <img ng-show="vm.teamTwoCurrentStatus === 'bowling'" height="80" width="80" src="https://rlv.zcache.com/red_cricket_ball_stickers_customizable_with_text-r7782d07176474fb992235e5e1d41a1db_v9waf_8byvr_324.jpg"
                        />
                    </form>
                </div>
            </div>
            <div class="row top-buffer"></div>
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    <div class="row">
                        <div class="col-sm-12 margin-left" ng-show="!vm.isTossDone">
                            <img ng-click="vm.toss()" src="http://governing.typepad.com/photos/uncategorized/coin_toss.jpg" height="80" width="80" />
                        </div>
                        <div class="col-sm-12" ng-show="vm.isTossDone">
                            <div class="row">
                                <div class="col-sm-12">
                                    <p class="text-sm-center">
                                        Toss Result: {{vm.tossResultInfo}}
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <button ng-click="vm.startGame()" class="form-control">
                                        <p class="text-primary">Play Begin</p>                                        
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-sm-2"></div>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>