<h1>Play</h1>
{{vm.teamOne}} vs {{vm.teamTwo}}

<br/> {{vm.score}}
<br/>

<div class="progress">
    <div class="progress-bar" style="width: {{vm.gameProgressPercentage}}%;">
        {{vm.gameProgressPercentage}}%
    </div>
</div>

<button ng-disabled="vm.disablePlayButton" ng-click="vm.bowl()">Bowl</button>

<div ng-repeat="over in vm.game.Innings[0].Overs" class="panel panel-default">
    
    <div class="panel-heading">
        <h1 class="panel-title">{{over.number+1}}</h1>
    </div>
    <div class="panel-body" ng-repeat="bowl in over.Bowls">
        Bowl: {{bowl.number + 1}}
        <br> Run: {{bowl.result}}
    </div>
    <hr>
</div>